body{
  margin:0%;
  background-color: #B6D0E2;
}
.headBar{
  color: darkblue;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  display: flex;
  text-align: center;

}
.headBar img{
  padding-bottom: 20px;
  width:100px;
  height: 100px;
  margin:25.9%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.headBar h1{
  font-size: 40px;
}
.navBar{
  align-items: center;
  background-color: darkblue;
  height: 80px;
  margin-right: 15%;
  margin-left: 15%;
  display: flex;
  font-size: 25px;
}
ul{
  display: flex;
  padding-left:420px;
  gap: 100px;
  list-style: none;
  text-align: center;
  
}
a{
  color: white;
  text-decoration: none;
}
li{
  font-size: 130%;
  width: 100px;
  height: 35px;
  padding-top:10px ;
  
}
li:hover{
  background-color: #b7d0e1;
  width: 120px;
  height: 40px;
  border-radius: 6.9%;
  text-decoration: white underline;
}

.leftBar{
  padding-left: 15%;
  float:left;
}
.leftBar p{
  font-size: 18px;
}
.iframe{
  padding-left: 90px;
  float: left;
  height: 900px;
}
iframe{
  background-image: url(shop.jpg);
}